.pokemonCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 50px;
  margin-bottom: 50px;
}

.pokemonCard_wrapper {
  width: 250px;
  height: 200px;
  flex: 0 1 auto;
}
