.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  margin-top: 40px;
  font-size: 18px;
  height: 100px;
  padding: 5px;
  border-top: 2px solid rgba(214, 214, 214, 0.5);
}

.about {
  font-size: 42px;
}

a {
  text-decoration: none;
  color: inherit;
}
